*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
.python-version
.vscode
VM_backup/
models/test_trainer/
models/gregoire/
models/Custom/
notebooks/alex/
notebooks/gregoire/
notebooks/pablo/
notebooks/quentin/
neuralart/legacy.py
