*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
.python-version
.vscode
VM_backup/
models/test_trainer/
notebooks/logs/
notebooks/alex/
notebooks/gregoire/
notebooks/pablo/
notebooks/quentin/
